@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



/* ページ土台 */
.main_page{
	display: flex;
	flex-direction: column;
	background-color:#FFEFD5;
	align-items: center;
	width: 100%;
	
}



/* ヘッダー */
#header{
	display: flex;
	height: 50px;
	background-color: lightgray; 
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.navi{
	display: flex;
}
.menu{
	margin-right: 20px;
}
#button{
	margin-right: 20px;
}



/* スライダー */
.slider{
	display: flex;
	width: 100%;
	justify-content: center;
}
.slider img{
	width: 50%;
}



/* 有効表示範囲の設定 */
.displaySpace{
	background-color: #FFEFD5;
	width: 70%;
	letter-spacing: 0.1em;
}



/* ブートストラップの■アイコン */
.title{
	background-color: #FFC7AF;
	height: 50px;
	align-content: center;
}
.bi{
	margin-left: 20px;
}



/* アコーディオンリスト内文章 */
.detail{
	margin-bottom: 10px;
}



/* おすすめ商品写真＆説明文 */
.category{
	margin-top: 30px;
	margin-left: 2%;
}
.SignatureFood{
	display: flex;
	justify-content: center;
}
.SignatureFood_box{
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
}
.ourCoffee{
	display: flex;
	justify-content: center;
}
.ourCoffee_box{
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
}
.ourFood{
	display: flex;
	justify-content: center;
}
.ourFood_box{
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
}



/* ショップインフォメーション */
.shopInformation{
	display: flex;
	justify-content: space-around;
	background-color: black;
	margin-top: 30px;
}
.shopInformation_sentence{
	color: white;
	width: 45%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.information_img{
	width: 45%;
	margin-top: 5%;
	margin-bottom: 5%;
}



/* 店舗一覧 */
.shopList{
	margin-top: 30px;
}
.shopList_box{
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.shopList_img{
	width: 20%;
	object-fit: cover;
	aspect-ratio: 1;
	border-radius: 50%;
}
.shopAddress_box{
	display: flex;
	width: 100%;
	justify-content: space-around;
}



/* フッター */
.hooter{
	display: flex;
	width: 100%;
	height: 80px;
	background-color: darkgrey;
	align-items: center;
	justify-content: center;
	gap: 1%;
	margin-top: 30px;
}






